# input

In [46]:
name = input("What is your name ") # name variable
age= int(input("How old are you? ")) # age variable
print("my name is {} and my age is {}".format(name, age))

What is your name esraa
How old are you? 31
my name is esraa and my age is 31

In [15]:
name = input("What is your name ") # name variable
age= int(input("How old are you? ")) # age variable
print("my name is {1} and my age is {0}".format(name, age))

What is your name esraa
How old are you? 31
my name is 31 and my age is esraa

# escape characters

In [19]:
print('esraa\'esmat\'') # print in quotations

esraa'esmat'

In [22]:
print('esraa\nesmat') # print on next line

esraa
esmat

# arithmatic operators

In [23]:
9%2 # Moulus operator= remainder operator = nearest number that accepts division on 2 is 8 so the difference is 1

1

In [47]:
11%3 # Moulus operator= remainder operator = nearest number that accepts division on 3 is 9 so the difference is 11-9=2

2

In [49]:
3//2 # prints the nearest integer only i.e 3/2 is 1.5 so will print 1 only

1

# TASK 1 LECTURE 3 IS AND IN operators.

In [31]:
x =[1, 2, 4, 87, 9208, 948728, 399727309, 'esraa', 'esmat', 'abdullah'] #list of variables
if 'esraa' in x: 
    print('yes in x')
else:
    print('not in x')

yes in x

In [42]:
x= True 
if x == 1:
    print('ok')

ok

In [44]:
x= True
if x is True:
    print('ok')

ok

In [45]:
x= False
if x is not True:
    print('ok')

ok

# Bitwise operators

In [52]:
5>3 and 3>1

True

In [51]:
5>3 & 3>1

True

In [56]:
5>3 or 3>1

True

In [55]:
5>3 | 3>1

True

In [58]:
5>6 and 3>1 # "and" compares statements not numbers so this statement is false.

False

In [59]:
5>6 & 3>1 # "&" compares binary numbers together so it was not able to see these as binary numbers

True

In [65]:
(5>6) & (3>1) # when placed in brackets, now it is dealt with as an arithmatic operation and so priority is given to the brackets (so 5>6 is False i,e 0 and 3>1 is True so 1 and so 0 and 1 so both conditions are not applied so false

False

In [61]:
5>6 | 3>1 # | compares integers and it doesn't see this as an arithmatic operation but as a statement so it doesn't understand it

False

In [64]:
5>6 or 3>1 # or compares statements so it sees this as statements.

True

In [66]:
(5>6) | (3>1) # python sees this as an arithmatic operation so 5>6 is False and 3>1 is True so one of them is true so True

True

# Task 2

In [68]:
G=6.67*10**-11
M=6.0*10**24
m=7.34*10**22
r=3.84*10**8
F=G*M*m/r**2
print(F)

1.9920979817708333e+20

# LISTS

In [70]:
x=[1, 'esraa', True, 2, [3, 4, 5]] # lists can accept any data type including mini lists and is MUTABLE so can modify content.

In [71]:
len(x) # length of x

5

In [72]:
x[0] # index position 0 in this list which is 1

1

In [73]:
x[4] # index position 4 in the list which is the minilist

[3, 4, 5]

In [75]:
x[4][2] # index position 4 in the list then index position 2 in the minilist.

5

In [77]:
x[1][0] # index position 1 which is esraa then position 0 in esraa which is e

'e'

In [78]:
x.append ('abdullah') # append by defaults add the item to the last position in the list.

In [113]:
x= ['abdullah', 1, True]

In [114]:
x

['abdullah', 1, True]

In [80]:
x[0]='esmat' # replaces the first item by the new item (so esmat instead of 1)

In [81]:
x

['esmat', 'esraa', True, 2, [3, 4, 5], 'abdullah']

In [82]:
x.insert(1, 'mohamad') # insert function adds the new item in the position that i want. It accepts two parameters, the position that i want to add the item in and the new item to be added. Then it shift whatever was in position 1 to the following position.

In [83]:
x

['esmat', 'mohamad', 'esraa', True, 2, [3, 4, 5], 'abdullah']

In [88]:
x.remove('esraa')

In [89]:
x

['esmat', 'mohamad', True, 2, [3, 4, 5], 'abdullah']

In [90]:
x.remove(True) # removes ITEM

In [115]:
x

['abdullah', 1, True]

In [116]:
x.pop() # removes POSITION

True

In [108]:
x

['abdullah']

In [92]:
x.insert(0,'esraa')

In [109]:
x

['abdullah']

In [94]:
y=(1, 2, 3)

In [95]:
type(y)

tuple

In [96]:
y=list(y)

In [97]:
y

[1, 2, 3]

In [99]:
y.extend([6,5,8]) # extend adds another list to the present list

In [100]:
y

[1, 2, 3, 6, 5, 8]

In [117]:
y.clear

In [118]:
y

[1, 2, 3, 6, 5, 8]

In [119]:
y.clear() # deleted everything in the list

In [126]:
y=[1, 3, 4, 5, 8]

In [127]:
y

[1, 3, 4, 5, 8]

In [128]:
y2=y.copy()

In [129]:
y2

[1, 3, 4, 5, 8]

# tuples

In [130]:
x=(1, 2, "esraa", 'abdullah', True) # Tuple accepts different data types and IMMUNTABLE(can't be modified) ex: phone numbers, IDs,

In [131]:
x

(1, 2, 'esraa', 'abdullah', True)

In [132]:
x[1]

2

In [133]:
x[4]

True

In [134]:
x.append('esmat') # Can't append because can't accept modoification

AttributeError: 'tuple' object has no attribute 'append'

In [135]:
x[0]= "esmat" # can't accept replacement because no modification.

TypeError: 'tuple' object does not support item assignment

In [136]:
# to change a tuple (ex: add item to family registry)

In [153]:
a=('esraa', 'esmat', "abdullah", 'manal', 'abdulrhman')

In [160]:
a= list(a)
a

['esraa', 'esmat', 'abdullah', 'manal', 'abdulrhman']

In [161]:
a.append ('ramy')

In [162]:
a

['esraa', 'esmat', 'abdullah', 'manal', 'abdulrhman', 'ramy']

In [163]:
a=tuple(a)

In [164]:
a

('esraa', 'esmat', 'abdullah', 'manal', 'abdulrhman', 'ramy')

In [165]:
b=('nahla', "yossuf", 'yonos', 'mohamed', 'ahmed')

In [166]:
b

('nahla', 'yossuf', 'yonos', 'mohamed', 'ahmed')

In [167]:
 a+b # add two tuples by concatanation.

('esraa',
 'esmat',
 'abdullah',
 'manal',
 'abdulrhman',
 'ramy',
 'nahla',
 'yossuf',
 'yonos',
 'mohamed',
 'ahmed')

In [168]:
a*2 #multiply contents of tuple by 2, so repeat contents

('esraa',
 'esmat',
 'abdullah',
 'manal',
 'abdulrhman',
 'ramy',
 'esraa',
 'esmat',
 'abdullah',
 'manal',
 'abdulrhman',
 'ramy')

In [169]:
a.count('esraa') # counts how many times esraa is repeated in this data.

1

In [170]:
a[1]

'esmat'

In [171]:
a[1][3]

'a'

In [172]:
a.index('abdullah')

2

# Sets

In [173]:
x=set()

In [174]:
x

set()

In [175]:
x.add(1)

In [176]:
x

{1}

In [177]:
x.add('esraa')

In [178]:
x

{1, 'esraa'}

In [179]:
x.add(2)

In [180]:
x

{1, 2, 'esraa'}

In [181]:
list(x)

['esraa', 1, 2]

In [187]:
y=(1, 6, 8, 3, 1, 4, 9, 0, 1, 5)

In [189]:
y=set(y)

In [190]:
y

{0, 1, 3, 4, 5, 6, 8, 9}

In [191]:
list(y)

[0, 1, 3, 4, 5, 6, 8, 9]

In [192]:
5 in y

True

In [202]:
y.update('7')

In [203]:
y

{0, 1, '2', 3, 4, 5, 6, '7', 8, 9}

In [204]:
x=[1,2,3]
y=[4,5,6]
x=set(x)
y=set(y)

In [205]:
x

{1, 2, 3}

In [211]:
y

{4, 5, 6}

In [212]:
y.update(x)

In [215]:
x

{1, 2, 3, 4, 5, 6}

In [216]:
x.add(9)

In [217]:
x

{1, 2, 3, 4, 5, 6, 9}

In [226]:
x.remove(3)

In [227]:
x

{1, 2, 4, 5, 6, 9}

In [228]:
z=y.union(x)

In [229]:
z

{1, 2, 3, 4, 5, 6, 9}

In [232]:
z.intersection(x) # removes duplicated items from the two sets and returns a new set

{1, 2, 4, 5, 6, 9}

In [235]:
x.intersection_update(z)

In [236]:
z

{1, 2, 4, 5, 6, 9}

# dictionaries

In [237]:
x={'name': 'esraa', 'age': 31, 'gender': 'female'}

In [238]:
x

{'name': 'esraa', 'age': 31, 'gender': 'female'}

In [239]:
type(x)

dict

In [240]:
x['name'] = "ramy" # can change value in the dictionary

In [241]:
x

{'name': 'ramy', 'age': 31, 'gender': 'female'}

In [245]:
x['age'] =x['age']-31

In [263]:
x

{'name': 'ramy', 'age': 0, 'gender': 'female'}

In [267]:
x.keys() #returns all keys

dict_keys(['name', 'age', 'gender'])

In [269]:
x.values() # returns all values

dict_values(['ramy', 0, 'female'])

In [270]:
x.items() # returns keys with their values in tuple

dict_items([('name', 'ramy'), ('age', 0), ('gender', 'female')])

In [272]:
x.get('name')==x['name']

True

In [277]:
x['faculty']='medicine'

In [278]:
x

{'name': 'ramy', 'age': 0, 'gender': 'female', 'faculty': 'medicine'}

# TASK DICTIONARY

In [247]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [262]:
d['k1'][2]['k2'][1]['tough'][2][0][0]

'h'

# Task 3

In [310]:
number=input('Please enter three numbers separated by commas ')

Please enter three numbers separated by commas 3,5,4

In [311]:
list(number)

['3', ',', '5', ',', '4']

In [312]:
tuple(number)

('3', ',', '5', ',', '4')

# if statement

In [285]:
x=4
if x==5:
    print('ok')
else:
    print('not ok')

not ok

In [287]:
x=10
if x==5:
    print('ok')
elif x==6:
    print('ok2')
elif x==7:
    print('ok3')
else:
    print('not ok')

not ok

In [289]:
x=6
y=8

if x==6 and y==9:
    print('ok')
else:
    print('not ok')

not ok

# Task If statement

In [290]:
### get from user the grade
# 85-100 A
# 75-85 B
# 65-75 C
# 50-65 D
# <50 F

In [303]:
x= int(input('Please enter your grade '))
if x >= 85 and x <=100:
    print ('A')
elif x >=75 and x <85:
    print ('B')
elif x >=65 and x <75:
    print('C')
elif x >=50 and x <65:
    print('D')
else:
    print('Good luck next year')

Please enter your grade 98
A